body {
    background-color: lightgrey;
    font-family: "Gill Sans MT";
}

h2 {
    font-size: 40px;
    text-align: center;
}

a, h5 {
    font-size: 35px;
}

a {
    text-decoration: none;
    color: forestgreen;
    transition: color 0.5s ease;
}

a:hover {
    color: lightseagreen;
}

p {
    font-size: 25px;
}

.link-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link-sub-container {
    display: flex;
    border: 1px solid dimgrey;
    padding: 10px;
    background-color: white;
}

.link-sub-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.link-description-container {
    width: calc(33.3% - 20px);
    padding: 10px;
}

.link-img-sub-container img {
    width: 100%;
    height: auto;
    transition: transform 2.5s ease;
}

.link-text-sub-container a,
.link-img-sub-container a {
    text-decoration: none;
    color: forestgreen;
    transition: color 0.5s ease;
}

.link-text-sub-container a:hover,
.link-img-sub-container a:hover {
    color: lightseagreen;
}

.link-img-sub-container img:hover {
    transform: scale(1.035);
}


.link-description-container {
    align-self: flex-start;
}

.link-sub-container {
    flex: 1;
}

.link-sub-container-right {
    padding-left: 10%;
}

.link-description-container h5,
.link-description-container p {
    margin: 0;
    padding: 5px 0;
}






/* STYLING FOR INPUT FIELDS*/

input[type="radio"] {
    display: none;
}


#textInputFields {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

#textInputFields input[type="text"] {
    width: 50px;
    height: 45px;
    margin: 5px;
    padding: 10px;
    border: 3px solid red;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #FFCCCC;
}


#submitButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: forestgreen;
    border-radius: 5px;
    color: black;
    border: none;
    cursor: pointer;
}

#submitButton:hover {
    background-color: lightseagreen;
}

.length-label {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: grey;
    margin-right: 5px;
}

.result-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.column {
    flex: 0 0 auto;
    margin-right: 10px;
}

.column p {
    margin-bottom: 5px;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transform: translateX(-50%);
}

.toast.show {
    visibility: visible;
}