<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Crossword Solver</title>
</head>

<body>
<div class="content">
    <h2>So you want to find a word that would fit nicely into your crossword?</h2>
    <p>To start, tell me how many letters your desired word consists of.</p>
    <form name="wordLengthSelector" id="wordLengthForm" action="/words-solver/crossword" method="post">

        <input type="radio" id="length3" name="wordLength" value="3" style="display: none;"
               onclick="toggleSubmitButton()">
        <label for="length3" class="length-label">3</label>

        <input type="radio" id="length4" name="wordLength" value="4" style="display: none;"
               onclick="toggleSubmitButton()">
        <label for="length4" class="length-label">4</label>

        <input type="radio" id="length5" name="wordLength" value="5" style="display: none;"
               onclick="toggleSubmitButton()">
        <label for="length5" class="length-label">5</label>

        <input type="radio" id="length6" name="wordLength" value="6" style="display: none;"
               onclick="toggleSubmitButton()">
        <label for="length6" class="length-label">6</label>

        <input type="radio" id="length7" name="wordLength" value="7" style="display: none;"
               onclick="toggleSubmitButton()">
        <label for="length7" class="length-label">7</label>

        <input type="radio" id="length8" name="wordLength" value="8" style="display: none;"
               onclick="toggleSubmitButton()">
        <label for="length8" class="length-label">8</label>

        <input type="radio" id="length9" name="wordLength" value="9" style="display: none;"
               onclick="toggleSubmitButton()">
        <label for="length9" class="length-label">9</label>

        <input type="radio" id="length10" name="wordLength" value="10" style="display: none;"
               onclick="toggleSubmitButton()">
        <label for="length10" class="length-label">10</label>

        <input type="radio" id="length11" name="wordLength" value="11" style="display: none;"
               onclick="toggleSubmitButton()">
        <label for="length11" class="length-label">11</label>

        <input type="radio" id="length12" name="wordLength" value="12" style="display: none;"
               onclick="toggleSubmitButton()">
        <label for="length12" class="length-label">12</label>

        <input type="radio" id="length13" name="wordLength" value="13" style="display: none;"
               onclick="toggleSubmitButton()">
        <label for="length13" class="length-label">13</label>

        <input type="radio" id="length14" name="wordLength" value="14" style="display: none;"
               onclick="toggleSubmitButton()">
        <label for="length14" class="length-label">14</label>

        <input type="radio" id="length15" name="wordLength" value="15" style="display: none;"
               onclick="toggleSubmitButton()">
        <label for="length15" class="length-label">15</label>

        <div id="textInputFields"></div>

        <button id="submitButton" style="display: none" type="submit">Confirm</button>
    </form>

    <div class="result-box">
        <div class="column"
             th:each="columnIndex : ${#numbers.sequence(1, (crosswordResult == null or crosswordResult.isEmpty()) ? 1 : (crosswordResult.size() / 5) + 1)}">
            <div th:each="word : ${crosswordResult != null ? crosswordResult.subList((columnIndex - 1) * 5, ((columnIndex * 5) < crosswordResult.size()) ? (columnIndex * 5) : crosswordResult.size()) : {}}">
                <p th:text="${word}"></p>
            </div>
        </div>
    </div>

</div>
<div class="home-page-link-container">
    <a class="home-page-link" href="http://localhost:8080/words-solver/home">Back to home page</a>
</div>

<script>
    function createTextInputFields(wordLength) {
        const container = document.getElementById('textInputFields');
        container.innerHTML = '';

        for (let i = 0; i < wordLength; i++) {
            const input = document.createElement('input');
            input.type = 'text';
            input.name = 'letters';
            input.maxLength = 1;
            input.addEventListener('input', function(event) {
                const inputValue = event.target.value.trim();
                if (!/^[A-Za-z]$/.test(inputValue)) {
                    event.target.value = 'A';
                    showToast('Please enter only alphabet letters.');
                }
                updateString();
            });
            container.appendChild(input);
            container.appendChild(document.createElement('br'));
        }
    }

    function showToast(message) {
        const toast = document.createElement('div');
        toast.className = 'toast';
        toast.textContent = message;
        document.body.appendChild(toast);

        setTimeout(function() {
            document.body.removeChild(toast);
        }, 3000);
    }


    function updateString() {
        const inputs = document.getElementsByName('letters');
        const stringArray = Array.from(inputs).map(input => input.value || ' ');
        document.getElementById('stringToShow').textContent = stringArray.join('');
    }

    document.getElementById('wordLengthForm').addEventListener('change', function (event) {
        const wordLength = parseInt(event.target.value);
        if (!isNaN(wordLength)) {
            createTextInputFields(wordLength);
        }
    });

    function toggleSubmitButton() {
        var radios = document.getElementsByName("wordLength");
        var submitButton = document.getElementById("submitButton");
        var selected = false;

        for (var i = 0; i < radios.length; i++) {
            if (radios[i].checked) {
                selected = true;
                break;
            }
        }

        if (selected) {
            submitButton.style.display = "block";
        } else {
            submitButton.style.display = "none";
        }
    }

</script>
</body>
</html>