<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/flex-style.css}"/>
    <title>Flex Words Builder</title>
</head>

<body>
<div class="content">
    <h2>So you want to find all words that can be built using some or all your letters?</h2>
    <p>Insert every available letter. You can enter up to 7 letters.</p>
    <form name="wordInputForm" id="wordInputForm" action="/all-word-builder" method="post">

        <div id="textInputFields"></div>

        <button id="submitButton" style="display: none" type="submit">Confirm</button>
    </form>

    <div class="result-box">
        <p th:each="word : ${builderResult}" th:text="${word}"></p>
    </div>
</div>
<div class="home-page-link-container">
    <a class="home-page-link" th:href="@{/home}">Back to home page</a>
</div>

<script>
    const maxInputs = 7;

    function createTextInputField() {
        const container = document.getElementById('textInputFields');
        const inputs = document.getElementsByName("letters");
        const lastInput = inputs[inputs.length - 1];

        if (!lastInput || lastInput.value.trim() !== "") {
            const input = document.createElement('input');
            input.type = 'text';
            input.name = 'letters';
            input.maxLength = 1;
            input.pattern = '[A-Za-z]';
            input.autocomplete = 'off';
            input.addEventListener('input', function (event) {
                if (!/^[A-Za-z]+$/.test(event.target.value)) {
                    if (event.inputType !== "deleteContentBackward" && event.inputType !== "deleteContentForward") {
                        event.target.value = 'A';
                        showToast('Please enter only alphabet letters.');
                    }
                }
                this.value = this.value.toUpperCase();
                toggleSubmitButton();
            });

            container.appendChild(input);
        }
    }

    function toggleSubmitButton() {
        var inputs = document.getElementsByName("letters");
        var submitButton = document.getElementById("submitButton");
        var hasValue = false;

        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].value.trim() !== "") {
                hasValue = true;
                break;
            }
        }

        if (hasValue) {
            submitButton.style.display = "block";
        } else {
            submitButton.style.display = "none";
        }

        const lastInput = inputs[inputs.length - 1];
        if (!lastInput || (lastInput.value.trim() !== "" && inputs.length < maxInputs)) {
            createTextInputField();
        }
    }

    function showToast(message) {
        const toast = document.createElement('div');
        toast.className = 'toast';
        toast.textContent = message;
        document.body.appendChild(toast);

        setTimeout(function () {
            toast.classList.add('show');
        }, 100);

        setTimeout(function () {
            toast.classList.remove('show');
            setTimeout(function () {
                document.body.removeChild(toast);
            }, 3000);
        }, 3500);
    }


    createTextInputField();

    document.getElementById('textInputFields').addEventListener('input', function (event) {
        const inputs = document.getElementsByName("letters");
        const inputValue = event.target.value.trim();
        if (event.inputType === "deleteContentBackward" || event.inputType === "deleteContentForward") {
            for (let i = 0; i < inputs.length - 1; i++) {
                if (!inputs[i].value.trim()) {
                    inputs[i].remove();
                    if (inputs.length === maxInputs - 1) {
                        createTextInputField();
                    }
                    break;
                }
            }
        }

        if (!inputs[inputs.length - 1].value.trim() && inputValue && inputs.length < maxInputs) {
            createTextInputField();
        }
    });

</script>
</body>
</html>