<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/home-style.css}"/>
    <title>Crossword Solver App</title>
</head>
<body>
<h2>Are you stuck in some kind of words game?</h2>
<h2>Try out one of these cheating apps:</h2>

<div class="link-container">
    <div class="link-sub-container">
        <div class="link-sub-container-left">
            <div class="link-text-sub-container">
                <a th:href="@{/crossword}">Crossword Solver</a>
            </div>
            <div class="link-img-sub-container">
                <a class="left-image" th:href="@{/crossword}"><img src="/crossword450px.png" alt="Crossword Solver"/></a>
            </div>
        </div>
        <div class="link-sub-container-right">
            <div class="link-description-container">
                <h5>DESCRIPTION:</h5>
                <p>information about this</p>
            </div>
        </div>
    </div>

    <div class="link-sub-container">
        <div class="link-sub-container-left">
        <div class="link-text-sub-container">
        <a th:href="@{/word-builder}">Fixed Length
            Word Builder</a>
        </div>
        <div class="link-img-sub-container">
            <a class="left-image" th:href="@{/word-builder}"><img src="/fixed450px.png" alt="Fixed Length Word Builder"/></a>
        </div>
        </div>
        <div class="link-sub-container-right">
            <div class="link-description-container">
                <h5>DESCRIPTION:</h5>
                <p>information about this</p>
            </div>
        </div>
    </div>


    <div class="link-sub-container">
        <div class="link-sub-container-left">
        <div class="link-text-sub-container">
        <a th:href="@{/all-word-builder}">Flexible Length
            Word Builder</a>
        </div>
        <div class="link-img-sub-container">
            <a class="left-image" th:href="@{/all-word-builder}"><img src="/flex450px.png" alt="Flexible Length Words Builder"/></a>
        </div>
        </div>
        <div class="link-sub-container-right">
            <div class="link-description-container">
                <h5>DESCRIPTION:</h5>
                <p>information about this</p>
            </div>
        </div>
    </div>

</div>


</body>
</html>